<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form-horizontal p-t-20" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                    <div class="form-group row">
                        <label for="name" class="col control-label">Nombre *</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="name" placeholder="Entre el Nombre Completo" formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col control-label">Correo electrónico *</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input type="email" class="form-control" id="email" placeholder="Entre el correo electrónico" formControlName="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0 pl-3 pr-3">
                        <button type="submit" [disabled]="profileForm.invalid" class="btn btn-primary btn-block waves-effect waves-light">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imágen del usuario</h6>
                <div class="text-center">
                    <label for="file-upload" class="cursor">
                        <img *ngIf="!imageTemp" [src]="user.imageUrl" class="img-avatar" />
                        <img *ngIf="imageTemp" [src]="imageTemp" class="img-avatar" />
                   </label>
                    <input class="image-upload" id="file-upload" type="file" (change)="changePicture($event)" />
                </div>
                <div class="form-group row m-b-0 mt-4 pl-3 pr-3">
                    <button type="button" [disabled]="!imageTemp" (click)="uploadPicture()" class="btn btn-primary btn-block waves-effect waves-light">Cambiar Imágen</button>
                </div>
            </div>
        </div>
    </div>
</div>